.header-root {

    background: linear-gradient(90deg,
            #1565c0,
            #1976d2) !important;

}

.header-toolbar {

    display: flex;

    justify-content: space-between;

    min-height: 70px !important;

}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    gap: 8px;
}

.user-name {

    margin-right: 5px !important;

    font-weight: 600 !important;

}

.header-title {
    color: white !important;
    font-weight: 700 !important;
}

.header-subtitle {
    color: rgba(255, 255, 255, .85) !important;
}